@import "../assets/fonts/Lato.css";

body {
  font-family: "Lato", "Helvetica", "sans-serif";
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
div,
span,
blockquote,
button,
textarea,
input,
form,
legend,
ol,
ul,
select,
fieldset,
label {
  font-family: "Lato", "Helvetica", "sans-serif";
}

#single-spa-application\:\@mcgifs\/cashier {
  position: absolute;
  width: 100%;
  height: 100%;
}
